<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
    <link rel="stylesheet" href="./main.css"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
</head>
<body>
<main class="page">
    <div class="branding">
        <a href="/" class="logo">
            <img alt="" src="./assets/images/logo_v2.svg"/>
        </a>
        <div>
            <h1>{{title}}</h1>
            <h2>{{subtitle}}</h2>
        </div>
    </div>
    <div class="navigation">
        <ul>
            <li>
                <a class="block-link" href="./about.html">who the **** am I</a>
            </li>
            <li>
                <a class="block-link" href="./blog.html">award-winning blog</a>
            </li>
            <li>
                <a class="block-link" href="mailto:zach@sneakycrow.dev">email me</a>
            </li>
            <li>
                <a class="block-link" target="_blank" href="https://github.com/sneakycrow">github</a>
            </li>
            <li>
                <a class="block-link" target="_blank" rel="me" href="https://cybre.gg/@ctrlsquid">mastadon</a>
            </li>
        </ul>
    </div>
    <article class="intro">
        <h3>oh shit waddup</h3>
        <p>My name is Zach (aka sneakycrow or ctrlsquid), I really enjoy programming. Like a lot. Like honestly it's
            probably unhealthy, but thats for my therapist to solve. I'm a weird guy, but I got a big head (that's not
            completely full of air) and a big heart, who gives a shit about people as much as software.

            I'm a very versatile software developer. I have an unquenchable thirst for knowledge and experience, which
            has brought me to many "specialized sectors" of programming.</p>
        <h3>my 1337 skills</h3>
        <ul>
            <li>front-end in several different capacities, from static websites to full SPA's</li>
            <li>I know React quite well, and I am also a big fan of Vue.</li>
            <li>back-end in several different capacities and protocols, mostly HTTP, but some gRPC, Websockets, and WASM
                as well
            </li>
            <li>My languages of choice:
                <ul>
                    <li>Rust (mi amor)</li>
                    <li>Go (my mistress)</li>
                    <li>Typescript (old reliable, kinda?)</li>
                </ul>
            </li>

            <li>near-real time data-streaming, pipelining, and event-driven systems using all kinds of Apache software,
                Docker, k8s, cloud infrastructure,
                cumulonimbus.
            </li>
            <li>pretty much all web-related AWS services, elastic container service, elastic file storage, elastic
                underwear, etc...
            </li>
            <li>if-else statements that marketers advertised as AI</li>
        </ul>


        <p>My preference is short term projects that are interesting (to me). I'm particularly interested to
            projects in
            relation to my hobbies, like gaming, coffee, music, nature, animals, and I'm flexible with budgets, so
            please don't hesitate to
            <a href="mailto:zach@sneakycrow.dev">contact me</a> if you fit some of that description.</p>
    </article>
    {{#if posts}}
        <div class="post-list">
            <h3>Recent posts</h3>
            <ul>
                {{#each posts as post}}
                    <li>
                        <a href="{{url}}">{{title}}</a>
                    </li>
                {{/each}}
            </ul>
        </div>
    {{/if}}
    {{#if projects}}
        <div>
            <div class="slider"
                 data-slides='{{#each projects as
                                      project}}{"name": "{{name}}", "description": "{{description}}"},{{/each}}'></div>
            <div class="slider"></div>
        </div>
    {{/if}}
</main>

<script type="module" src="./assets/js/slider.js"></script>
</body>
</html>