<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="icon" href="/assets/images/favicon.ico" type="image/x-icon"/>
    <title>{{title}}</title>
    <link rel="stylesheet" href="./main.css"/>
</head>
<body>
<main class="page">
    <div class="branding-wrapper">
        <div class="branding">
            <a href="/" class="logo">
                <img alt="" src="./assets/images/logo_v2.svg"/>
            </a>
            <div>
                <h1>{{title}}</h1>
                <h2>{{subtitle}}</h2>
            </div>
        </div>
    </div>
    <div class="boost-description">
        <p>Inspired by <a href="https://xeiaso.net/signalboost">xeiaso.net/signalboost</a>, this is a list of awesome
            people current looking for a job. Please reach out to them directly if they match what you're looking for.
        </p>

        <p>To add yourself to this list, fork <a href="https://github.com/sneakycrow/website">this websites code</a> and
            send a pull request with edits to `config.toml`</p>
    </div>
    {{#if boosts}}
        {{#each boosts}}
            <div>
                <h1>{{name}}</h1>
                <a href="mailto:{{email}}">email</a>
                <a href="{{url}}">website</a>
                {{#if keywords}}
                    <ul>
                        {{#each keywords}}
                            <li>{{this}}</li>
                        {{/each}}
                    </ul>
                {{/if}}
            </div>
        {{/each}}
    {{/if}}
</main>
</body>
</html>