<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{title}}</title>
    <link rel="icon" href="/assets/images/favicon.ico" type="image/x-icon"/>
    <link rel="stylesheet" href="/main.css"/>
</head>
<body>
<main class="post">
    <div class="branding-wrapper">
        <div class="branding">
            <a href="/blog.html" class="logo">
                <img alt="" src="/assets/images/logo_v2.svg"/>
            </a>
            <div>
                <h1>{{title}}</h1>
                <h2>{{month_name month}} {{day}}, {{year}}</h2>
            </div>
        </div>
    </div>
    {{#if series.posts}}
        <div class="series-wrapper">
            <div class="post-series">
                <h3>Series</h3>
                <ol>
                    {{#each series.posts as post}}
                        <li>
                            <a href="/{{url}}">{{title}}</a>
                        </li>
                    {{/each}}
                </ol>
            </div>
        </div>
    {{/if}}
    <div class="article-wrapper">
        {{#if is_draft}}
            <p class="note">This article is a draft and may be incomplete</p>
        {{/if}}
        <article>
            {{{markdown}}}
        </article>
    </div>
</main>
</body>
</html>